*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
/* .icon-con{
    display: flex !important;
    justify-content: flex-end !important;

} */
i{
  margin-left: 3rem;
}

.card-con{
    padding-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-rows: 20rem 20rem;
    grid-gap: 0.5rem;
    }
footer{
    background-color: black;
    color: aliceblue;
    padding-top: 2rem;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
ul{
    list-style: none;
}

